<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<%= link_to '新規投稿', new_feed_path %>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>ユーザー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
      <td><%= image_tag feed.image.url if feed.image.present? %></td>
        <td><%= feed.user&.name || '名無しさん' %></td>
        <td><%= feed.content %></td>
        <td><%= link_to '詳細', feed %></td>
        <td><%= link_to '編集', edit_feed_path(feed) %></td>
        <td><%= link_to '削除', feed, method: :delete, data: { confirm: '本当に消していいの?' } %></td>
      </tr>
    <% end %>
</tbody>
</table>

<br>

