<p id="notice"><%= notice %></p>

<p>
  <strong>投稿した画像:</strong>
  <%= image_tag @feed.image.url %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @feed.content %>
</p>

<p>
  <strong>ユーザー名:</strong>
  <%= @feed.user&.name || 'Unknown User' %>
</p>

<%= link_to '編集', edit_feed_path(@feed) %> |
<%= link_to '戻る', feeds_path %>
